body {
    margin:0;
    padding:0;
    background: #000 url(background.jpg) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}
#container { 
  padding-top:40px; 
  padding-left:100px; 
  padding-right:100px; 
  padding-bottom:80px; 
  border: 1px solid 000000; 
}
.left{
	border="0"
	position: relative;
	float:left;
	height: 350px;
	width: 200px;
	background-color: blue;

}
.right{
	padding: 50px
	border="0"
	position: relative;
	float: left;
	height: 350px;
	width: 100%;
	background-color: orange;
}
