body {
    margin:0;
    padding:0;
    background: #000 url(background.jpg) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}
#container { 
  padding-top:40px; 
  padding-left:100px; 
  padding-right:100px; 
  padding-bottom:80px; 
  border: 1px solid 000000; 
}
#sidebar { 
    float: left; 
    width: 200px; 
    background: #EBEBEB; 
    padding: 15px 10px 15px 20px; 
} 
#mainContent { 
    margin: 0 0 0 250px; 
    padding: 0 20px 20px 20px; 
} 
