body {
    margin:0;
    padding:0;
    background: #000 http://www.ahhllysp.com/images/pptbeijingUploadFiles_83742012032012032722560654.jpg center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}
